<div class="text-layout">
  <h1> {{ nombre | titlecase }} </h1>
  <h1> {{ valor | number }} </h1>
  <h1> {{ obj | json }} </h1>
</div>

<button pButton (click)="mostrarNombre()"   icon="pi pi-bell" iconPos="right" class="p-button-help" label="Cambiar Nombre"></button>

<p-card [header]="nombre | titlecase" subheader="subheader">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laudantium aliquid fuga omnis minus obcaecati excepturi at ab labore tenetur consequatur possimus alias, fugit esse quidem, repellat veritatis! Earum, quod!
</p-card>